@font-face {
  font-family: "Pt Sans";
  src: url("../fonts/web/ptsans.woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pt Sans";
  src: url("../fonts/web/ptsansbold.woff2");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  color: #000;
}
h2 {
  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
}
p {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}
a {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
a:hover {
  color: #81b3d2;
}
a:active {
  color: rgba(0, 0, 0, 0.3);
}
.stars-2::before {
  font-family: "symbols-sedona";
  font-size: 19px;
  color: #81b3d2;
  content: "\2605  \2605";
}
.stars-3::before {
  font-family: "symbols-sedona";
  font-size: 19px;
  color: #81b3d2;
  content: "\2605  \2605  \2605";
}
.stars-4::before {
  font-family: "symbols-sedona";
  font-size: 19px;
  color: #81b3d2;
  content: "\2605  \2605  \2605  \2605";
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"), url("../fonts/symbols-sedona.woff2") format("woff2");
}
[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;
  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;
  speak: none;
}
.icon-facebook::before {
  content: "\66";
}
/* "f" */
.icon-twitter::before {
  content: "\74";
}
/* "t" */
.icon-up-dir::before {
  content: "\25b2";
}
/* "▲" */
.icon-down-dir::before {
  content: "\25bc";
}
/* "▼" */
.icon-star::before {
  content: "\2605";
}
/* "★" */
.icon-check-off::before {
  content: "\2610";
}
/* "☐" */
.icon-check-on::before {
  content: "\2611";
}
/* "☑" */
.icon-calendar::before {
  content: "\e800";
}
/* "" */
.icon-plus::before {
  content: "\e801";
}
/* "" */
.icon-minus::before {
  content: "\e802";
}
/* "" */
.icon-youtube::before {
  content: "\f39e";
}
/* "" */
body {
  margin: 0px;
  background-color: #f2f2f2;
}
.wrapper {
  position: relative;
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
  background-color: #fff;
}
.wrapper::after {
  content: "";
  display: table;
  clear: both;
}
.intro {
  position: relative;
  background: url(../img/header-bg.jpg) no-repeat;
  background-position: 50% -60px;
  min-height: 512px;
  width: 100%;
  overflow: hidden;
}
.welcome {
  position: absolute;
  left: 50%;
  top: 76px;
  transform: translateX(-50%);
}
.gorgeous {
  position: absolute;
  top: 132px;
  left: 50%;
  transform: translateX(-50%);
}
.line {
  position: absolute;
  top: 144px;
  left: 50%;
  transform: translateX(-50%);
}
.header-title {
  position: absolute;
  top: 214px;
  left: 50%;
  transform: translateX(-50%);
}
.because {
  position: absolute;
  top: 348px;
  left: 50%;
  transform: translateX(-50%);
}
.shape {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.main-nav__item {
  width: 20%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  padding: 15px 0;
}
.main-nav__item:last-child {
  margin-right: 0px;
}
.main-nav a {
  font-family: "PT Sans", sans-serif;
  display: block;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
.main-nav a:hover {
  color: #81b3d2;
}
.main-nav a:active {
  color: rgba(0, 0, 0, 0.3);
}
.logo {
  position: relative;
  padding: 0;
  z-index: 10;
}
.logo a {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.main-nav span {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #766357;
  text-transform: uppercase;
  text-decoration: none;
  cursor: default;
}
.main-nav span:hover {
  color: #604e43;
}
.main-nav span:active {
  color: #766357;
  opacity: 0.3;
}
.feauters-title {
  display: block;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 33px;
  padding-top: 62px;
}
.feauters h2 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 33px;
  padding-top: 62px;
  padding: 0 15%;
}
.feauters p {
  text-align: center;
  line-height: 21px;
  margin-top: 0px;
  margin-bottom: 50px;
  padding: 0 15%;
}
.feautere-descr {
  background-color: #81b3d2;
  color: #fff;
  margin: 0;
  padding: 0;
}
.feautere-descr::after {
  content: "";
  display: table;
  clear: both;
}
.feautere-text-left {
  float: left;
  width: 33.333333%;
}
.feautere-text-right {
  float: right;
  width: 33.333333%;
}
.feautere-text h2 {
  line-height: 21px;
  padding-top: 50px;
  margin-bottom: 25px;
}
.feautere-text p {
  margin-bottom: 20px;
}
.feautere-img {
  position: relative;
  float: right;
  width: 66.666666%;
  height: 256px;
  overflow: hidden;
}
.feautere-img img {
  position: relative;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.feautere-icons::after {
  content: "";
  display: table;
  clear: both;
}
.feautere-icons section {
  float: left;
  width: 33.3333%;
  position: relative;
}
.home span {
  text-indent: -9000px;
  position: absolute;
  display: block;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 75px;
  height: 76px;
  background: url("../img/sprites.png") no-repeat;
  background-position: 0 -10px;
}
.food span {
  text-indent: -9000px;
  position: absolute;
  display: block;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 76px;
  height: 75px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -100px -10px;
}
.souvenir span {
  text-indent: -9000px;
  position: absolute;
  display: block;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 75px;
  height: 76px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -195px -7px;
}
h2.feautere-icons__title {
  padding-top: 160px;
}
.feautere-items {
  background: #eee;
}
.feautere-items::after {
  content: "";
  display: table;
  clear: both;
}
.feautere-item {
  float: left;
  width: 33.33333%;
  padding-bottom: 37px;
}
.feautere-item h2 {
  padding-top: 50px;
  margin-bottom: 25px;
}
.feautere-item p {
  margin-bottom: 25px;
}
.hotel-search {
  width: 568px;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.search-title {
  display: block;
  font-size: 30px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 30px;
}
.hotel-search p {
  line-height: 24px;
  margin-bottom: 50px;
}
.search-form-open h2 {
  margin: 0;
}
.search-form__title {
  display: block;
  background: #766357;
  color: #fff;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 0;
  padding: 30px 138px;
}
.search-form__title:hover {
  color: #fff;
  background-color: #604e43;
}
.search-form__title:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}
.map iframe {
  width: 100%;
  height: 475px;
}
.page-footer {
  text-align: center;
  font-weight: bold;
}
.page-footer .wrapper {
  padding: 50px 0;
}
.footer-hashtag {
  float: left;
  width: 33.33333%;
}
.footer-social {
  float: left;
  width: 33.333333%;
  font-size: 0px;
}
.footer-social span {
  position: relative;
  bottom: 15px;
  width: 46px;
  height: 48px;
  color: #fff;
  background-color: #81b3d2;
  display: inline-block;
  vertical-align: top;
  margin-right: 6px;
}
.footer-social span:hover {
  background-color: #669ec0;
}
.footer-social span:active {
  color: #88b6d1;
  background-color: #5496bd;
}
.icon-twitter::before,
.icon-facebook::before,
.icon-youtube::before {
  position: absolute;
  top: 14px;
  left: 10px;
  font-size: 19px;
}
.footer-copyright {
  text-align: left;
  float: right;
  width: 33.333333%;
}
.footer-copyright span {
  margin-left: 25%;
  position: relative;
  display: block;
}
.footer-copyright span::after {
  content: "";
  position: relative;
  right: 25%;
  bottom: -8px;
  width: 113px;
  height: 39px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -300px -10px;
}
.footer-copyright span:hover::after {
  background: url("../img/sprites.png") no-repeat;
  background-position: -300px -60px;
}
.footer-copyright span:active::after {
  background: url("../img/sprites.png") no-repeat;
  background-position: -300px -10px;
  opacity: 0.3;
}
.modal-content {
  display: none;
}
.modal-content-show {
  display: block;
}
.search-form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  background-color: #fff;
  padding: 55px 55px;
  font-weight: bold;
  width: 568px;
  margin: 0 auto;
}
.row {
  font-size: 0;
  position: relative;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row label {
  font-size: 14px;
  float: left;
  padding: 11px 0;
}
.row input {
  float: right;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  width: 306px;
  height: 38px;
  padding: 0 15px;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  margin-bottom: 30px;
}
.row-half-left {
  float: left;
  width: 50%;
}
.row-half-right {
  float: right;
  width: 50%;
}
.row-half-left input {
  width: 38px;
}
.row-half-right input {
  width: 38px;
}
.row-half-left label {
  width: 85px;
  text-align: left;
}
.row-half-right label {
  width: 85px;
  text-align: right;
}
.row label.date::after {
  position: absolute;
  right: 8px;
  top: 7px;
  font-family: "symbols-sedona";
  font-size: 21px;
  line-height: 26px;
  color: #c2c2c2;
  content: "\e800";
}
.row label.date:hover::after {
  color: #000;
}
.row label.date:active::after {
  color: #81b3d2;
}
.row input[type=button] {
  color: #c1c1c1;
  font-size: 21px;
}
.row input[type=button]:hover {
  color: #000;
}
.row input[type=button]:active {
  color: #81b3d2;
}
.search-form .form-btn {
  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #fff;
  background-color: #81b3d2;
  border: none;
  outline: none;
  width: 100%;
  min-height: 58px;
  padding: 15px;
}
.search-form .form-btn:hover {
  background-color: #669ec0;
}
.search-form .form-btn:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.filter {
  position: relative;
  background: #334e5f url(../img/filter-bg.jpg) no-repeat;
  background-position: 50% 0%;
  background-size: cover;
  height: 215px;
  overflow: hidden;
}
.filter-form {
  color: #fff;
  padding: 25px 5%;
}
.filter-form::after {
  content: "";
  display: table;
  clear: both;
}
.filter-form legend {
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
  margin-bottom: 10px;
}
.filter-form fieldset {
  float: left;
  width: 215px;
  border: none;
}
input[type=checkbox] {
  display: none;
}
input[type=checkbox] + label {
  display: inline-block;
  width: 92%;
  cursor: pointer;
  margin-bottom: 10px;
}
input[type=checkbox] + label::before {
  position: relative;
  font-family: "symbols-sedona";
  font-size: 26px;
  letter-spacing: 15px;
  content: "\2610";
  top: 4px;
}
input[type=checkbox]:checked + label::before {
  font-family: "symbols-sedona";
  font-size: 26px;
  letter-spacing: 11.4px;
  content: "\2611";
}
.filter-form .price {
  float: right;
  width: 26.5%;
}
.price legend {
  margin-bottom: 5px;
}
.price-border {
  position: relative;
  text-align: center;
  border: 2px solid #fff;
  padding: 8px;
}
.price-border::before {
  position: absolute;
  content: "";
  background-color: #fff;
  width: 2px;
  height: 22px;
  left: 50%;
  top: 5px;
}
.price-border__wrapper {
  width: 99%;
  margin: 0 auto;
}
.price-border label {
  width: 10%;
  margin-left: 15%;
}
.price-border input[type=text] {
  font-family: "PT Sans", sans-serif;
  width: 17%;
  padding: 0 1%;
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
}
.filters-cost-range-controls {
  position: relative;
  height: 80px;
  margin: 5px auto;
  border-radius: 5px;
  overflow: hidden;
}
.scale {
  margin-top: 20px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}
.bar {
  height: 2px;
  background: #ffffff;
  margin-left: 0%;
  width: 85%;
}
.toggle {
  position: absolute;
  top: 11px;
  width: 4px;
  height: 4px;
  border: 8px solid white;
  background: #ababab;
  cursor: pointer;
  border-radius: 50%;
}
.min-toggle {
  left: 0%;
}
.toggle:hover {
  background: #1c4f80;
}
.max-toggle {
  margin-left: -10px;
  left: 85%;
}
.show-btn {
  position: relative;
  font-family: "PT-Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 21px;
  left: 50%;
  transform: translateX(-50%);
  top: -30px;
  background-color: transparent;
  color: #fff;
  padding: 6px 34px;
  border: 2px solid #fff;
}
.show-btn:hover {
  background-color: #fff;
  color: #000;
}
.results-header {
  padding: 30px 5.833333%;
  border-bottom: 1px solid #e5e5e5;
}
.results-header::after {
  content: "";
  display: table;
  clear: both;
}
.found {
  float: left;
  width: 165px;
}
.sort {
  float: left;
  width: auto;
}
.sort span {
  font-size: 12px;
  line-height: 18px;
  margin-right: 40px;
}
.sort a {
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  margin-right: 30px;
  color: #b2b2b2;
  border-bottom: 1px dotted #81b3d2;
}
.sort a:hover {
  color: #81b3d2;
}
.sort a:active {
  color: #000;
}
.sort a:last-child {
  margin-right: 0;
}
.sort a.active {
  color: #81b3d2;
  border: none;
}
.arrows {
  float: right;
  width: 40px;
}
.arrows .arrow-up::before {
  font-style: "symbols-sedona";
  font-size: 12px;
  letter-spacing: 10px;
  content: "\25b2";
  color: #b2b2b2;
}
.arrows .arrow-down::after {
  font-style: "symbols-sedona";
  font-size: 12px;
  content: "\25bc";
  color: #81b3d2;
}
.results-item {
  padding: 30px 5.833333%;
  border-bottom: 1px solid #e5e5e5;
}
.results-item::after {
  content: "";
  display: table;
  clear: both;
}
.img-container {
  float: left;
  width: 135px;
  height: 90px;
  overflow: hidden;
  margin-right: 30px;
}
.results-info {
  float: left;
  width: 260px;
}
.item-descr h2 {
  margin-top: -2px;
  margin-bottom: 10px;
}
.item-descr span {
  display: inline-block;
  width: 116px;
  margin-bottom: 17px;
}
.btns .read-more {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #fff;
  background-color: #81b3d2;
  padding: 6px 17px;
  margin-right: 2px;
}
.btns .read-more:hover {
  background-color: #669ec0;
}
.btns .read-more:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}
.btns .booking {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #fff;
  background-color: #766357;
  padding: 6px 17px;
}
.btns .booking:hover {
  background-color: #604e43;
}
.btns .booking:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}
.rating {
  float: right;
  width: 115px;
  text-align: right;
}
.rating p {
  color: #666666;
  text-align: center;
  padding: 6px 15px;
  background-color: #f2f2f2;
}
